body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#display {
    display: flex;
    flex-direction: column;
    background-color: rgb(182, 216, 216);
}

.header {
    background-color:rgb(63, 61, 61);
    height: 70px;
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color:rgb(63, 61, 61);
    color: white;
    height: 50px;
}

.project {
    display: flex;
    flex-direction: column;
    /* Relative position lets any "todo-button" (position absolute) div appear
    on-top of the project div. */
    position: relative;
    padding-bottom: 30px;
    gap: 10px;
    margin: 20px;
}

.todo {
    display: flex;
    justify-content: space-between;
}

.todo-button {
    /* These 2 settings, combined with the relative position of .project, allow
    this button to always be at the bottom of the project div. */
    position: absolute;
    bottom: 0;
}

.delete-project-button {
    position: absolute;
    right: 0;
}