body, #display {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    /* Relative position lets any "todo-button" (position absolute) div appear
    on-top of the project div. */
    position: relative;
    padding-bottom: 30px;
    gap: 10px;
}

.todo {
    display: flex;
    justify-content: space-between;
}

.todo-button {
    /* These 2 settings, combined with the relative position of .project, allow
    this button to always be at the bottom of the project div. */
    position: absolute;
    bottom: 0;
}



.delete-project-button {
    /* align-self: center; */
    position: absolute;
    right: 0;
}