body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#display {
    display: flex;
    flex-direction: column;
    min-height: 87.5vh;
}

.header {
    background-color:rgb(63, 61, 61);
    height: 70px;
    font-weight: bolder;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer {
    width: 100vw;
    background-color:rgb(63, 61, 61);
    color: white;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* bottom: 0; */
}

.project {
    display: flex;
    flex-direction: column;
    /* Relative position lets any "todo-button" (position absolute) div appear
    on-top of the project div. */
    position: relative;
    padding-bottom: 30px;
    gap: 10px;
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(224, 142, 142);
}

.todo {
    font-size: 18px;
    font-weight: normal;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 8fr 2fr 1fr;
}

.todo-button {
    /* These 2 settings, combined with the relative position of .project, allow
    this button to always be at the bottom of the project div. */
    position: absolute;
    bottom: 0;
}

.delete-todo-button {
    margin-left: 5px;
}

.delete-project-button {
    position: absolute;
    right: 0;
}